<mat-card class="update-password-card">
  <mat-card-header>
    <mat-card-title>Update Password</mat-card-title>
    <mat-card-subtitle>Update Your Dashboard Password Here</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSave()">
      <div class="password-container">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Current Password</mat-label>
          <input matInput formControlName="currentPassword" required/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="newPassword" required/>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Confirm New Password</mat-label>
          <input matInput formControlName="confirmNewPassword" required/>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSave()">Save Changes</button>
  </mat-card-actions>
</mat-card>
